@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaijaan+2&display=swap");
:root {
    --blue: #4967ff;
    --yellow: #c1fd33;
    --gray: #a3a9c3;
    --dark: #1c2025;
    --red: #ff4f49;
    --base: #54baff;
    --light-yellow: #ffeeb4;
}
* {
    box-sizing: border-box;
    font-family: "Baloo Bhaijaan 2";
    padding: 0;
    flex-shrink: 0;
    margin: 0;
    user-select: none;
}
body {
    font-family: "Baloo Bhaijaan 2";
}

/* theame */
body.dark {
    background-color: var(--dark);
    color: white;
}
.theame .fa-sun {
    display: none;
}
.theame .fa-moon {
    display: none;
}
body.dark .theame .fa-sun {
    display: inline-block !important;
}
body.dark .theame{
    background-color: var(--light-yellow) !important;
    color: var(--dark) !important;
}
body.light .theame .fa-moon {
    display: inline-block !important;
}
body.light {
    color: var(--dark);
    background-color: var(--light-yellow);
}

/* style */
header.header {
    text-align: center;
    margin: 40px;
    line-height: 20px;
}
h3 {
    font-size: 2.5rem;
}
header.header p {
    font-size: 1rem;
}
.theame {
    width: 30px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--dark);
    border-radius: 100%;
    box-shadow: 0 0 4px var(--dark);
    position: fixed;
    font-size: 1.5rem;
    bottom: 20px;
    color: var(--light-yellow);
    left: 20px;
}
.input {
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    background-color: #e1e8e9;
    /* margin-left: 36%; */
    margin-top: 30px;
    width: 100%;
    height: 30px;
    transition: all 0.2s ease-out;
    box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
    border: none;
    outline: none;
}

.input:focus {
    box-shadow: inset 9px 9px 7px #d1d9e6, inset -4px -4px 4px #f9f9f9;
    border: none;
    color: black !important;
}